.layout {
  background-color: var(--gradient-back);
  background-image: var(--gradient-1), var(--noise-4);
  background-size:
    auto 200vh,
    auto 200vh;
  background-repeat: no-repeat;

  min-block-size: 100vh;
  min-block-size: 100svh;
  min-block-size: 100dvh;
  display: grid;

  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;

  grid-template-areas:
    "header"
    "main"
    "footer";

  & > main {
    grid-area: main;

    transition-property: opacity, transform, filter, background;
    transition-timing-function: ease-in-out;
    transition-duration: 500ms;
  }
}
