.course {
  inline-size: 100%;
  max-inline-size: var(--size-content-3);

  background-image: var(--gradient-1), var(--noise-4);
  background-size: cover;

  margin-block: var(--size-6) 0;
  padding-inline: var(--size-4);
  padding-block: var(--size-4);

  display: grid;

  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto auto;
  gap: var(--size-3);

  grid-template-areas:
    "img"
    "hdr"
    "cnt"
    "ftr";

  transition-property: box-shadow, transform;
  transition-duration: 500ms;
  transition-timing-function: ease;

  box-shadow: var(--shadow-1);

  &:nth-child(even) {
    background-image: var(--gradient-2), var(--noise-4);
  }

  &:focus,
  &:hover {
    box-shadow: var(--shadow-6);
    transform: translateX(-8px) translateY(-8px);
  }

  & > h3 {
    grid-area: hdr;
    place-self: stretch center;

    font-family: var(--font-geist-sans);
    font-size: var(--font-size-4);

    text-align: center;
  }

  & > article {
    grid-area: cnt;

    font-size: var(--font-size-1);
    color: hsl(var(--text-2));
  }

  & > footer {
    grid-area: ftr;
    place-self: stretch center;
  }
}

.header__image {
  grid-area: img;

  inline-size: 100%;
  block-size: auto;
  aspect-ratio: var(--ratio-landscape);
}
