.course {
  inline-size: 100%;
  max-inline-size: var(--size-content-2);

  background-image: var(--gradient-1), var(--noise-4);
  background-size: cover;

  margin-block: var(--size-6) 0;
  padding-inline: var(--size-4);
  padding-block: var(--size-4);

  display: grid;

  grid-template-columns: 1fr;
  grid-template-rows: 1fr auto auto;
  gap: var(--size-3);

  grid-template-areas:
    "hdr"
    "cnt"
    "ftr";

  transition-property: box-shadow, transform;
  transition-duration: 500ms;
  transition-timing-function: ease;

  box-shadow: var(--shadow-1);

  &:nth-child(even) {
    background-image: var(--gradient-2), var(--noise-4);
  }

  &:focus,
  &:hover {
    box-shadow: var(--shadow-6);
    transform: translateX(-8px) translateY(-8px);
  }

  & > footer {
    grid-area: ftr;
    place-self: stretch center;
  }
}
