.hero {
  max-inline-size: calc(var(--size-content-3) * 2);

  margin-inline: auto;
  margin-block: var(--size-10) var(--size-9);
  padding-inline: var(--size-3);

  display: grid;

  grid-template-columns: 1.5fr 1fr;
  grid-template-rows: auto 1fr auto;
  gap: var(--size-6);

  grid-template-areas:
    "hdr ico"
    "cnt ico"
    "ftr ftr";

  /* Small to medium screens */
  @media screen and (max-width: 1024px) {
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;

    grid-template-areas:
      "hdr"
      "cnt"
      "ftr";
  }
}
