.details {
  display: grid;

  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto auto auto;
  gap: var(--size-6);

  grid-template-areas:
    "hdr"
    "ct1"
    "ct2"
    "ftr"
    "asd";

  & h2 {
    font-family: var(--font-1);
    font-size: var(--font-size-4);
  }

  & > article + article {
    margin-block-start: var(--size-3);
  }

  & > aside {
    grid-area: asd;

    background-image: var(--gradient-1), var(--noise-4);
    background-size: cover;

    font-family: var(--font-1);
    font-size: var(--font-size-2);
    color: hsl(var(--text-2));

    padding-inline: var(--size-4);
    padding-block: var(--size-4);

    display: flex;
    flex-wrap: wrap;
    gap: var(--size-3);

    text-align: center;

    & > section {
      flex: 1 1 var(--size-content-2);
    }

    & > section > h3 {
      color: hsl(var(--text-1));

      text-transform: uppercase;
      padding-block: var(--size-2);

      max-inline-size: none;

      border-block-start: var(--border-size-1) dotted hsl(var(--surface-1));
      border-block-end: var(--border-size-1) dotted hsl(var(--surface-1));
    }

    & > section > ul {
      list-style: none;

      padding-block: var(--size-2);

      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      gap: var(--size-2);
    }

    & > section > ul li::before {
      content: "â—";
      color: hsl(var(--accent-foreground));
      padding-inline: 1ch;
    }

    & a:hover {
      text-decoration: underline;
    }
  }

  /* Large screens */
  @media screen and (min-width: 1024px) {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto auto;

    grid-template-areas:
      "hdr hdr"
      "ct1 ct2"
      "ftr ftr"
      "asd asd";

    & > article + article {
      margin-block-start: unset;
    }
  }
}
