.secondary {
  /* Large screens */
  @media screen and (min-width: 1024px) {
    margin-inline: var(--size-6);
  }
}

.secondary__content {
  background: hsl(var(--surface-4));

  padding-inline: var(--size-1);
  padding-block: var(--size-4);

  & > h2 {
    max-inline-size: none;

    font-family: var(--font-1);
    font-size: var(--font-size-5);
    font-weight: var(--font-weight-6);
    text-transform: uppercase;

    color: hsl(var(--surface-1));

    text-align: center;

    /* Large screens */
    @media screen and (min-width: 1024px) {
      padding-inline: var(--size-4);
      text-align: unset;
    }
  }

  & > article {
    display: grid;
    gap: var(--size-3);

    place-items: stretch center;

    grid-template-columns: repeat(auto-fit, minmax(min(100%, var(--size-content-2)), 1fr));

    & > h2 {
      grid-column: 1 / -1;

      margin-block-start: var(--size-6);

      padding-inline: var(--size-3);
      padding-block: var(--size-3);

      border-radius: var(--radius-drawn-3);
      box-shadow: var(--shadow-3);

      font-family: var(--font-1);
      font-size: var(--font-size-4);
      font-weight: var(--font-weight-6);

      background: hsl(var(--popover));
      color: hsl(var(--popover-foreground));

      text-align: center;

      /* Large screens */
      @media screen and (min-width: 1024px) {
        place-self: stretch start;
      }
    }

    /* Large screens */
    @media screen and (min-width: 1024px) {
      inline-size: 95%;
      margin-inline: auto;
    }
  }
}
