.artcom-experience-small {
  inline-size: 100%;
  block-size: 100%;

  user-select: none;
  pointer-events: none;

  background-image: url("/images/artcom-experience.webp");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;

  display: grid;

  grid-template-columns: 1fr;
  grid-template-rows: 1fr;

  grid-template-areas: "stack";

  & > h2 {
    display: none;

    grid-area: stack;
    place-self: end center;

    background-color: hsl(var(--background) / 0.6);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);

    padding-inline: var(--size-6);
    padding-block: var(--size-6);

    font-family: var(--font-1);
    font-size: var(--font-size-4);
    color: hsl(var(--foreground));

    text-align: center;
  }

  /* Large screens */
  @media screen and (min-width: 1024px) {
    inline-size: auto;
    block-size: var(--size-content-3);

    background-size: contain;
    background-position: unset;

    & > h2 {
      display: block;
    }
  }
}
