.content-modal {
  background: hsl(var(--surface-1));

  max-inline-size: 95vw;
  max-block-size: min(95vh, 100%);
  max-block-size: min(95dvb, 100%);
  overflow: hidden;

  margin: auto;
  display: grid;

  transition: opacity 1s var(--ease-3);
}

.content-modal--hide {
  animation: var(--animation-slide-out-down) forwards;
}

.content-modal[open] {
  animation: var(--animation-slide-in-up) forwards;
}

.content-modal:not([open]) {
  pointer-events: none;
  opacity: 0;
}

.content-modal::backdrop {
  backdrop-filter: blur(25px);
  transition: backdrop-filter 1s ease;
}

.content-modal > form {
  display: grid;
  grid-template-rows: auto 1fr;
  align-items: start;
  max-block-size: 80vh;
  max-block-size: 80dvb;
}

.content-modal > form > header {
  background-image: var(--gradient-2), var(--noise-4);
  background-size: cover;

  padding-inline: var(--size-1);
  padding-block: var(--size-1);

  display: flex;
  justify-content: flex-end;
}

.content-modal > form > article {
  overflow-y: auto;
  max-block-size: 100%;
  overscroll-behavior-y: contain;

  display: grid;
  justify-items: flex-start;

  z-index: var(--layer-1);
}
