.contact-map {
  inline-size: 100%;
  max-inline-size: var(--size-content-3);

  min-block-size: var(--size-content-3);

  background-image: var(--gradient-2), var(--noise-4);
  background-size: cover;

  margin-block: var(--size-6) 0;
  padding-inline: var(--size-4);
  padding-block: var(--size-4);

  display: grid;

  grid-template-columns: 1fr;
  grid-template-rows: auto;
  gap: var(--size-3);

  grid-template-areas: "cnt";

  & > iframe {
    grid-area: cnt;

    inline-size: 100%;
    block-size: 100%;
  }
}
