.footer {
  grid-area: footer;

  font-family: var(--font-3);
  text-transform: uppercase;

  background-color: hsl(var(--stone-12-hsl) / 0.4);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);

  padding-inline: var(--size-2);
  padding-block: var(--size-2);

  display: grid;

  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto auto;
  gap: var(--size-3);

  grid-template-areas:
    "add"
    "shr"
    "crs"
    "cnt";
}
