.regulations {
  display: grid;

  margin-block-end: var(--size-6);

  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto;
  gap: var(--size-6);

  grid-template-areas:
    "hdr"
    "ct1"
    "ct2";

  & h2 {
    font-family: var(--font-1);
    font-size: var(--font-size-4);
    color: hsl(var(--text-1));
  }

  & p {
    color: hsl(var(--text-2));
  }

  & strong {
    color: hsl(var(--text-2));
    font-weight: bold;
  }

  & li {
    color: hsl(var(--text-2));
  }

  & a {
    color: hsl(var(--text-1));
  }

  & > article + article {
    margin-block-start: var(--size-3);
  }

  /* Large screens */
  @media screen and (min-width: 1024px) {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;

    grid-template-areas:
      "hdr hdr"
      "ct1 ct2";

    & > article + article {
      margin-block-start: unset;
    }
  }
}
