.content {
  grid-area: cnt;
  place-self: start start;

  inline-size: 100%;
  max-inline-size: var(--size-content-3);

  /* Small to medium screens */
  @media screen and (max-width: 1024px) {
    place-self: start center;

    z-index: var(--layer-2);
  }
}
