.icon {
  grid-area: ico;
  place-self: stretch end;

  inline-size: 100%;
  max-inline-size: var(--size-content-1);

  color: hsl(var(--primary));

  /* Small to medium screens */
  @media screen and (max-width: 1024px) {
    grid-area: hdr;
    place-self: center end;

    opacity: 0.25;
    filter: blur(3px);

    z-index: var(--layer-1);
  }
}
