.hero {
  margin-inline: var(--size-10) var(--size-6);
  margin-block: var(--size-10) var(--size-9);

  display: grid;

  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto 1fr auto;
  gap: var(--size-6);

  grid-template-areas:
    "hdr hdr ico"
    "img cnt cnt"
    "ftr ftr ftr";

  /* Small to medium screens */
  @media screen and (max-width: 1024px) {
    margin-inline: var(--size-6);

    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;

    grid-template-areas:
      "hdr"
      "cnt"
      "ftr";
  }
}
