.hero {
  max-inline-size: calc(var(--size-content-3) * 3);

  margin-inline: auto;
  margin-block: var(--size-10) var(--size-9);
  padding-inline: var(--size-10) var(--size-6);

  display: grid;

  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto 1fr auto;
  gap: var(--size-6);

  grid-template-areas:
    "hdr hdr ico"
    "img cnt cnt"
    "ftr ftr ftr";

  /* Small to medium screens */
  @media screen and (max-width: 1024px) {
    padding-inline: var(--size-3);

    grid-template-columns: 1fr;
    grid-template-rows: auto auto 1fr auto;

    grid-template-areas:
      "hdr"
      "img"
      "cnt"
      "ftr";
  }
}
